// -----------------------------------------------------------------------------
// This file contains app-wide colors.
// -----------------------------------------------------------------------------

/* Light Grey */
$p-color: #666666;

/* Dark Grey */
$h1-color: #333333;

/* Blue */
$link-color: #4090FE;

/* Red */
$link-hover-color: #FF3660;
